<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>

<h1 style="text-align:center;">Fazel, Slaeman </h1>
<hr color="MediumSeaGreen"/>

<body>

<p style="text-align:center;"><i>Welcome to IS445 Homework 2</i></p>

<center><img src="buddys.jpg" alt="Picture of my Niece, Nephew, and Cousin" style="width:480px;height:360px;
align="middle"></center>

<p><i><b>Education</b></i> (College and above, Graduate Year, Degree, Major and School)</p>

<ul style="list-style-type:disc">
  <li>2014, A.S., Business of 	Arts, El Camino College</li>
  <li>2017, B.S., MIS, University of California, Long Beach</li>
</ul>

<p><i><b>Working Experience</i></b> (Title, Company and Years)</p>
  
<ol>
  <li> Operations Manager, Imperial Ice Cream and Candy Inc., 7 years</li>
  <li>Server, The Cheescake Factory, 5 years</li>
</ol>

<p><i><b>Expectations for this course</i></b></p>
<p>My expectations for this course are very high. After spending a lot of time last spring learning through trial and error with Python, I decided to take on the task of learning web devlopment so that I may implement it for our family business. I also would like to figure out on how to perform complex tasks such as The purchasing of an online commodity and then recieving order of payment to go ahead and start producing the product and mailing it back to the client, all through my website. I am very eager to learn!</p>


</body>
</html>